.loader-div{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 50vh !important;
}

.loader{
    width: 30px !important;
    height: 30px !important;
    border: 3px solid #2b73ff !important;
    border-radius: 50% !important;
    display: inline-block;
    position: relative !important;
    box-sizing: border-box !important;
    animation: rotation 1s linear infinite !important;
} 
.loader::after, .loader::after {
    content: '' !important;  
    box-sizing: border-box !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 38px !important;
    height: 38px !important;
    border-radius: 50% !important;
    border: 3px solid transparent !important;
    border-bottom-color: #0230ff !important;
}

.footer{
    padding: 10px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    position: fixed;
    width: 100vw;
    bottom: 0;
  }

@keyframes rotation {
    0% {
        transform: rotate(0deg) !important;
    }
    100% {
        transform: rotate(360deg) !important;
    }
} 